---
layout: default
title: Posts
content_class: post
return: true
---

<h1>Posts</h1>

<ul>
	{% for post in site.posts %}
		<li>
			{{ post.date | date: "%Y-%m-%d" }}: <a href="{{ post.url }}">{{ post.title }}</a>
		</li>
	{% endfor %}
</ul>

<div class="posts-tags" style="margin-top: 65px;">
	Tags: 
	{% for tag in site.tags %}
		<a href="/tags#{{ tag[0] }}">{{ tag[0] }}</a>
		<!-- <div class="tag">{{ tag[0] }} <ul class="tag-links">
				{% for post in tag[1] %}
					<li>
						{{ post.date | date: "%Y-%m-%d" }}: <a href="{{ post.url }}">{{ post.title }}</a>
					</li>
				{% endfor %}
		</ul></div> -->
	{% endfor %}
</div>

<div style="margin-top: 15px; float: right;">
	<a href="/rss.xml" class="no-link">
		<img src="/assets/rss.gif" alt="RSS Feed" height="25px" style="filter: brightness(0.25);">
	</a>
</div>