html,
body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

* {
	font-family: "맑은 고딕", "Malgun Gothic", "Segoe UI", Helvetica, sans-serif;
}

html {
	background-color: #1F1F1F;
}

body {
	color: white;
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
    animation: fade 1s;
}

.fadeOut {
	transition: opacity 0.5s ease-out;
	opacity: 0;
}

@keyframes fade {
	0% { 
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

h1 {
	color: #FF9FFE;
}

h2 {
	color: #ad68ad;
	font-size: 1em;
}

a {
	text-decoration: underline;
	color: #009db5;
}

a.no-link {
	text-decoration: none;
	color: white;
}

.hi {
	font-weight: 600;
	font-size: 1.3em;
}

.head-line {
	top: 0;
	height: 10px;
	background-color: #624662;
}

.home-centre {
	min-width: 450px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.content {
	padding: 35px;
}

.subtitle {
	font-size: 15px;
	/*font-style: italic;*/
	color: #EEEEEE;
	margin-top: 25px;
}

.home-link {
	padding-left: 5px;
	padding-right: 5px;
	display: inline;
}

.back-slight {
	background-color: rgba(0, 0, 0, 0.6);
}

.post {
	max-width: 1000px;
	margin: auto;
}

code {
	font-family: monospace;
}

pre {
	background-color: #262626;
	padding: 10px 20px;
	border-radius: 2px;
}