/* Basic setup */
html,
body {
	margin: 0;
	padding: 0;
	background-color: #1F1F1F;
	height: 100%;
}

* {
	font-family: "맑은 고딕", "Malgun Gothic", "Segoe UI", Helvetica, sans-serif;
}

body {
	color: white;
	transition: opacity 0.5s ease-in-out;
	opacity: 1;
	animation: fade 1s;
}


/* Fade animation on page loads */
.fadeOut {
	transition: opacity 0.5s ease-out;
	opacity: 0;
}

@keyframes fade {
	0% { 
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}


/* Basic HTML elements */
h1 {
	color: #FF9FFE;
}

h2 {
	color: #ad68ad;
	font-size: 1.2em;
}

h3 {
	font-size: 1em;
}

a {
	text-decoration: underline;
	color: #009db5;
}

a.no-link {
	text-decoration: none;
	color: white;
}

code {
	font-family: monospace;
}

pre {
	background-color: #262626;
	padding: 10px 20px;
	border-radius: 2px;
}

img.round {
	border-radius: 50%;
}


/* Generic elements */
/* Pink bar across top of pages */
.head-line {
	height: 10px;
	background-color: #624662;
}

/* Main area */
.content {
	margin: auto;
	max-width: 1000px;
}

.content.home {
	height: 600px; /* legacy browser workaround */
	_margin-top: 100px;/* old ie hack */
	height: calc(100% - 10px);
}

.content.post {
	padding: 35px;
	margin-top: 25px;
}


/* Home page */
.hi {
	font-weight: 600;
	font-size: 1.3em;
}

.home-centre-parent {
	display: table;
	margin: auto;
	height: 100%;
}

.home-centre {
	min-width: 450px;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}

.subtitle {
	font-size: 15px;
	/*font-style: italic;*/
	color: #EEEEEE;
	margin-top: 25px;
}

.home-link {
	padding-left: 5px;
	padding-right: 5px;
	display: inline;
}

.back-slight {
	background-color: rgba(0, 0, 0, 0.6);
}

.home-blocks td {
	vertical-align: top;
	padding-left: 10px;
	padding-right: 10px;
	width: 350px;
}

.home-blocks ul {
	margin: 0;
  	padding: 0;
  	list-style-type: none;
}

.home-blocks li {
	margin-top: 2px;
	margin-bottom: 8px;
}

.home-blocks li::before {
	content: "▶";
	margin-right: 5px;
	font-size: 10px;
	color: grey;
}



/* Posts */
#comments {
	color: grey;
	cursor: pointer;
}

/* Tag listing */
.posts-tags,
.posts-tags a:link,
.posts-tags a:visited {
	color: grey;
	text-decoration: none;
}