/* Basic setup */
html {
	height: 100%;
	background: #fafafa;
}

* {
	font-family: "맑은 고딕", "Malgun Gothic", "Segoe UI", Helvetica, sans-serif;
}

body {
	margin: 0;
	padding: 0;
	height: 100%;
	background: #fafafa;
}


/* Basic HTML elements */
h1 {
	color: #ad68ad;
}

h2 {
	color: #c588d1;
	font-size: 14pt;
}

h3 {
	font-size: 12pt;
}

h1,h2,h3,h4 {
	margin-top: 0;
}

a {
	text-decoration: underline;
	color: #009db5;
}
a:hover {
	color: #006473;
}

a.no-link {
	text-decoration: none;
	color: black;
}

code {
	background-color: #292929;
	font-family: monospace;
	color: white;
	padding: 0.1rem 0.2rem;
}

pre {
	border-radius: 2px;
}

img {
	max-width: 100%;
	max-height: 100%;
}
img.round {
	border-radius: 50%;
}
img.smooth {
	border-radius: 5%;
}


/* Generic elements */
/* Pink bar across top of pages */
.head-line {
	height: 5px;
	background-color: #feb3ff;
	margin-bottom: 20px;
}

/* Main area + Nav */
.content {
	margin: auto;
	max-width: 1000px;
}

.nav-bar,
.main {
	float: left;
	padding: 15px;
}

.nav-bar {
	width: 22%;
	text-align: right;
}

.main {
	width: 69%;
}

#face {
	/* HACK: Old IE scaling of image */
	_width: 225px;
}

ul.nav-links {
	padding: 0;
}
.nav-links a {
	text-decoration: none;
}
.nav-links img {
	height: 20px;
}
.nav-links li {
	padding-left: 1px;
	padding-right: 1px;
	display: inline;
}

#hi {
	font-weight: 600;
	font-size: 1.3rem;
}

#myname {
	margin-top: 0.3rem;
	margin-bottom: 0.3rem;
}

#subtitle {
	font-size: 15px;
	color: #363636;
	margin-top: 0;
}

#mail-notice {
	display: none;
	padding: 2px;
	opacity: 0.8;
	font-size: 9pt;
	position: absolute;
	top: 30px;
	width: 170px;
	text-align: center;
	color: #b0fff7;
}

#mail-protect {
	color: pink;
}

.back-slight {
	background-color: rgba(0, 0, 0, 0.6);
}

.muted {
	color: #919191;
}

.small-text {
	font-size: 9pt;
}

/* Mobile */

@media(max-width: 750px) {
	.nav-bar,
	.main {
		width: 100%;
		float: none;
		padding: 0;
	}

	.content {
		padding-left: 1rem;
		padding-right: 1rem;
	}

	#face {
		width: 6rem;
	}

	.nav-bar {
		text-align: center;
	}

	h1.title {
		text-align: center;
	}
}

/* Home Page */

.home-blocks .block {
	margin-bottom: 30px;
}

.home-blocks ul {
	margin: 0;
  	padding: 0;
  	list-style-type: none;
  	margin-left: 0.5rem;
}

.home-blocks li {
	margin-top: 0.15rem;
	margin-bottom: 0.15rem;
}

.home-blocks li::before {
	content: "▶";
	margin-right: 0.3rem;
	font-size: 9pt;
	color: grey;
}

.home-blocks h3 {
	margin-top: 0;
	margin-bottom: 8px;
}


/* Posts */
h2.date {
	font-size: 16pt;
	text-align: right;
	margin-bottom: 0.2rem;
}

.toc {
	display: inline-block;
	background-color: #ebebeb;
	padding: 12.5px 30px;
	border: 1px solid #808080;
}
.toc h2 {
	text-align: center;
	margin-bottom: 0.3rem;
}
.toc a {
	text-decoration: none;
}
.toc ul#markdown-toc {
	margin: 0;
	padding: 0;
}

.footer {
	margin-top: 2rem;
}
.footer hr {
	border-top: 0.01rem solid #b8b8b8;
	width: 80%;
}


/* Tag listing */
.posts-tags,
.posts-tags a:link,
.posts-tags a:visited {
	color: grey;
	text-decoration: none;
}