html,
body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

* {
	font-family: "맑은 고딕", "Malgun Gothic", "Segoe UI", Helvetica, sans-serif;
}

html {
	background-color: #1F1F1F;
}

body {
	color: white;
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
    animation: fade 1s;
}

.fadeOut {
	transition: opacity 0.5s ease-out;
	opacity: 0;
}

@keyframes fade {
	0% { 
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

h1 {
	color: #FF9FFE;
}

.zoom:hover {
	transform: scale(1.5);
}

a {
	text-decoration: none;
	color: white;
}

.hi {
	font-weight: 600;
	font-size: 1.3em;
}

.head-line {
	top: 0;
	height: 10px;
	background-color: #624662;
}

.content {
	width: 650px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.subtitle {
	font-size: 15px;
	/*font-style: italic;*/
	color: #EEEEEE;
	margin-top: 25px;
}

.link {
	padding-left: 5px;
	padding-right: 5px;
}

.back-slight {
	background-color: rgba(0, 0, 0, 0.6);
}
