{{- partial "head.html" . -}}

<main>
<article>
<h2 class="date">{{ .Date.Format "2006-01-02" }}</h2>
<h1 class="title">{{ $.Title }}</h1>

{{- partial "toc.html" . -}}

{{- .Content -}}

<aside>
	<div style="float: right;">
		<a href="/rss.xml" class="no-link">
			<img src="/assets/rss.gif" alt="RSS Feed" height="25px" style="opacity: 0.5;">
		</a>
	</div>
	<div class="muted">
		<p>
			Tags: {{ range $tag := .Params.Tags }}<a href="/tags#{{ $tag }}">{{ $tag }}</a> {{ end }}
		</p>
		<p>
		{{- partial "comments.html" . -}}
	</div>
</aside>
</article>
</main>

{{- partial "footer.html" . -}}

{{- partial "end.html" . -}}
