{{ partial "head.html" . }}

{{ .Content }}

<div class="footer">
	<div style="float: right;">
		<a href="/rss.xml" class="no-link">
			<img src="/assets/rss.gif" alt="RSS Feed" height="25px" style="opacity: 0.5;">
		</a>
	</div>
	<div class="muted">
		<p>
			Tags: {{ range $tag := .Params.Tags }}<a href="/tags.html#{{ $tag }}" class="muted">{{ $tag }}</a> {{ end }}
		</p>
	</div>
	<a id="comments" class="muted" onclick="return loadComments();" style="margin-top: 15px" href="#"></a>
	<script>
		if (document.getElementById) {
			var comments = document.getElementById("comments");
			comments.innerText = "Click to load comments (utteranc.es)...";
		}

		function loadComments() {
			comments.onclick = null;
			comments.innerText = "";
			var utt = document.createElement("script");
			utt.src = "https://utteranc.es/client.js";
			utt.async = true;
			utt.crossOrigin = "anonymous";
			utt.setAttribute("repo", "nicholastay/personal-web");
			utt.setAttribute("issue-term", "pathname");
			utt.setAttribute("label", "blog comments");
			utt.setAttribute("theme", "github-light");
			comments.appendChild(utt);
			return false;
		}
	</script>

	<hr style="margin-top: 20px">
	<p class="muted">
		Text content on this site is licensed under <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC-BY-SA-4.0</a> (<a href="https://github.com/nicholastay/personal-web/blob/master/LICENCE.TEXT-CONTENT">text</a>); <a href="https://github.com/nicholastay">code behind it</a> is licensed under the <a href="https://opensource.org/licenses/BSD-2-Clause">BSD-2-Clause</a> (<a href="https://github.com/nicholastay/personal-web/blob/master/LICENCE.CODE">text</a>). All rights reserved to images unless otherwise stated.
	</p>
</div>

{{ partial "end.html" . }}