<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{{ if ne .Title "Home" }}{{ .Title }} - {{ end }}{{ $.Site.Params.name }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=0.8, maximum-scale=0.8">

	<link rel="icon" type="image/x-icon" href="/favicon.ico">
	<link rel="stylesheet" type="text/css" href="/style.css">

	<meta property="og:title" content="{{ .Title }}">
	<meta property="og:url" content="{{ .Permalink }}">
	<meta property="og:image" content="{{ $.Site.BaseURL }}/assets/profile.jpg">

	{{- if eq .Section "post" -}}
	<meta name="description" content="{{ replace .Summary "\n" " " }}...">
	<meta property="og:description" content="{{ replace .Summary "\n" " " }}...">
	{{- else -}}
	<meta name="description" content="{{ $.Site.Params.name }} - {{ $.Site.Params.tagline }}">
	<meta property="og:description" content="{{ $.Site.Params.name }} - {{ $.Site.Params.tagline }}">
	{{- end -}}

	<link rel="alternate" type="application/rss+xml" title="{{ $.Site.Params.name }} (RSS)" href="https://nick.tay.blue/rss.xml" />
</head>

<body>
<div class="head-line"></div>
<div class="page">

{{- partial "nav.html" . -}}

<div class="content">