<div class="sidebar">

<header>
	<h1 id="myname">
		<a href="/" class="no-link">
			<div><img src="/assets/profile.jpg" id="face" class="smooth" alt="[My face!]"></div>
			<div>{{ $.Site.Params.name }}</div>
		</a>
	</h1>

	<p id="subtitle" class="subtitle">{{ $.Site.Params.tagline }}</p>
</header>

<nav style="margin-top: 25px">
	<p class="nav-links">
		<!-- For text based browsers. -->
		<span style="display: none;">Links: </span>
		<a href="https://github.com/nicholastay">
			<img src="/assets/github.gif" alt="[GitHub]">
		</a>
		<a href="https://twitter.com/@nnktay">
			<img src="/assets/twitter.gif" alt="[Twitter]">
		</a>
		<a id="mail" onclick="showMail(event)" href="#">
			<span style="position: relative;">
				<img src="/assets/mail.gif" alt="[Mail]">
				<span id="mail-notice" class="back-slight" style="display: none;">&lt;business and/or security only emails please!: <span id="mail-protect">nick dot tay -@- windblume dot net</span>&gt;</span>
			</span>
		</a>
		<a href="/static/key.asc">
			<img src="/assets/key.gif" alt="[PGP: 98CC81FB]">
		</a>
		<a href="/rss.xml">
			<img src="/assets/rss.gif" alt="[RSS]">
		</a>
		<a href="https://linkedin.com/in/nktay">
			<img src="/assets/linkedin.gif" alt="[LinkedIn]">
		</a>
		<a href="https://www.youtube.com/channel/UC3PCZ5I5prckJHg15hLG5Sg">
			<img src="/assets/youtube.gif" alt="[YouTube]">
		</a>
	</p>

	{{- if ne .Title "Home" -}}
	<p style="margin-top: 25px">
		<a href="/">&lt; Return home</a>
	</p>
	{{- end -}}
</nav>

</div>