/* Basic setup */
html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
	background: #f9f9f9;
}

* {
	font-family: "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Nanum Gothic", "Segoe UI", Helvetica, sans-serif;
}

/* Basic HTML elements */
h1 {
	color: #ad68ad;
}

h2 {
	color: #c588d1;
	font-size: 14pt;
}

h3 {
	font-size: 12pt;
}

a {
	text-decoration: underline;
	color: #009db5;
}
a:hover {
	color: #006473;
}

a.no-link {
	text-decoration: none;
	color: black;
}
a.cc {
	text-decoration: none;
	margin-left: 0.5rem;
}

li {
	margin: 0.2rem 0;
}

pre,
code,
pre code span {
	background-color: #323232 !important;
	font-family: "Fantasque Sans Mono", Monaco, Menlo, monospace;
}

pre, code {
	color: white;
}

code {
	padding: 0.15rem 0.35rem;
	border-radius: 5px;
}

pre {
	white-space: pre-wrap;
	border-radius: 5px;
	padding: 1rem;
}
pre code {
	padding: 0;
}

img {
	max-width: 100%;
	max-height: 100%;
}
img.round {
	border-radius: 50%;
}
img.smooth {
	border-radius: 5%;
}

footer {
	font-size: 0.8rem;
}

/* Triangle ul li marker */
ul.triangle {
	margin: 0;
  	padding: 0;
  	list-style-type: none;
  	margin-left: 0.5rem;
}

ul.triangle li {
	margin-top: 0.15rem;
	margin-bottom: 0.15rem;
}
ul.triangle li::before {
	content: "▶";
	margin-right: 0.3rem;
	font-size: 9pt;
	color: grey;
}


/* Generic elements */
/* Pink bar across top of pages */
#head-line {
	height: 5px;
	background-color: #feb3ff;
	margin-bottom: 20px;
	text-align: center;
}

/* Main area + Nav */

/* NOTE: Default to small-screen friendly by default!
 * This means that if media-queries don't work, it gives
 * something actually useful first. */

/* .page = width-constrained page area */
/* .sidebar = left-side header + nav */
/* .content = right-side pane */
.page {
	margin: auto;
	max-width: 600px;
	padding-left: 25px;
	padding-right: 25px
}

.sidebar {
	text-align: center;
}

#face {
	/* HACK: Old IE scaling of image */
	_width: 95px;
	width: 6rem;
}

.nav-links a {
	text-decoration: none;
}
.nav-links img {
	height: 20px;
}

#hi {
	font-weight: 600;
	font-size: 1.3rem;
}

#myname {
	margin-top: 0.3rem;
	margin-bottom: 0.3rem;
}
#myname a {
	color: #ad68ad;
}

#subtitle {
	font-size: 15px;
	margin-top: 0;
}

#mail-notice {
	display: none;
	padding: 2px;
	opacity: 0.8;
	font-size: 9pt;
	position: absolute;
	top: 30px;
	width: 170px;
	text-align: center;
	color: #b0fff7;
}
#mail-protect {
	color: pink;
}
#mail:hover #mail-notice {
	display: block;
}

.back-slight {
	background-color: rgba(0, 0, 0, 0.6);
}

.muted {
	color: #919191;
}
.muted a {
	color: #6e6e6e;
}
.muted a:hover {
	color: #303030;
}

.small-text {
	font-size: 9pt;
}

.side-return {
	text-align: left;
}

/* Expanded View ('non-mobile') */

.page.type-post #header,
.page.type-post .nav-links {
	display: none;
}

@media(min-width: 750px) {
	.page {
		max-width: 1000px;
	}

	.sidebar,
	.content {
		float: left;
		padding: 15px;
	}

	.sidebar {
		width: 22%;
		text-align: right;
	}

	.content {
		width: 69%;
	}

	#face {
		width: 15rem;
	}

	.page.type-post #header,
	.page.type-post .nav-links {
		display: inherit;
	}

	.side-return {
		text-align: right;
	}
}

/* Home Page */

.home-blocks .block {
	margin-bottom: 30px;
}

.home-blocks h3 {
	margin-top: 0;
	margin-bottom: 8px;
}


/* Posts */
h1.title {
	margin-top: 0.5rem;
}
h2.date {
	font-size: 16pt;
	text-align: right;
	margin-bottom: 0.2rem;
}

.toc {
	display: inline-block;
	background-color: #ebebeb;
	padding: 12.5px 30px;
	border: 1px solid #808080;
	margin-bottom: 10px;
}
.toc h2 {
	text-align: center;
	margin-bottom: 0.3rem;
}
.toc a {
	text-decoration: none;
}
.toc #TableOfContents > ul {
	margin: 0;
	padding: 0;
}

aside {
	margin-top: 2rem;
}

figure {
	background-color: #e6e6e6;
	margin: 0;
	padding: 8px 10px;
	border-radius: 0.35rem;
	text-align: center;
}
figcaption {
	font-style: italic;
	text-align: right;
	margin-right: 0.35rem;
	margin-top: 0.2rem;
}

blockquote {
	border-left-style: solid;
	border-left-width: 4px;
	border-left-color: #eeeeee;
	padding: 0.05rem 1rem;
}

/* Dark Theme */
@media (prefers-color-scheme: dark) {
	html, body {
		background-color: #141620;
		color: #e5e5e5;
	}

	img.logo-icon {
		filter: invert(80%);
	}

	.toc {
		background-color: #221c20;
	}

	blockquote {
		border-left-color: #aaaaaa;
	}

	figure {
		background-color: #323232;
	}
}
