/* Basic setup */
html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
	background: #f9f9f9;
}

* {
	font-family: "맑은 고딕", "Malgun Gothic", "Segoe UI", Helvetica, sans-serif;
}

/* Basic HTML elements */
h1 {
	color: #ad68ad;
}

h2 {
	color: #c588d1;
	font-size: 14pt;
}

h3 {
	font-size: 12pt;
}

h1,h2,h3,h4 {
	margin-top: 0;
}

a {
	text-decoration: underline;
	color: #009db5;
}
a:hover {
	color: #006473;
}

a.no-link {
	text-decoration: none;
	color: black;
}

pre,
code {
	background-color: #323232 !important;
	font-family: monospace;
	color: white;
}

code {
	padding: 0.15rem 0.35rem;
	border-radius: 5px;
}

pre {
	white-space: pre-wrap;
	border-radius: 5px;
	padding: 1rem;
}
pre code {
	padding: 0;
}

img {
	max-width: 100%;
	max-height: 100%;
}
img.round {
	border-radius: 50%;
}
img.smooth {
	border-radius: 5%;
}

/* Triangle ul li marker */
ul.triangle {
	margin: 0;
  	padding: 0;
  	list-style-type: none;
  	margin-left: 0.5rem;
}

ul.triangle li {
	margin-top: 0.15rem;
	margin-bottom: 0.15rem;
}
ul.triangle li::before {
	content: "▶";
	margin-right: 0.3rem;
	font-size: 9pt;
	color: grey;
}


/* Generic elements */
/* Pink bar across top of pages */
.head-line {
	height: 5px;
	background-color: #feb3ff;
	margin-bottom: 20px;
}

/* Main area + Nav */
/* .page = width-constrained page area */
/* .sidebar = left-side header + nav */
/* .content = right-side pane */
.page {
	margin: auto;
	max-width: 1000px;
}

.sidebar,
.content {
	float: left;
	padding: 15px;
}

.sidebar {
	width: 22%;
	text-align: right;
}

.content {
	width: 69%;
}

#face {
	/* HACK: Old IE scaling of image */
	_width: 225px;
}

.nav-links a {
	text-decoration: none;
}
.nav-links img {
	height: 20px;
}

#hi {
	font-weight: 600;
	font-size: 1.3rem;
}

#myname {
	margin-top: 0.3rem;
	margin-bottom: 0.3rem;
}
#myname a {
	color: #ad68ad;
}

#subtitle {
	font-size: 15px;
	color: #363636;
	margin-top: 0;
}

#mail-notice {
	display: none;
	padding: 2px;
	opacity: 0.8;
	font-size: 9pt;
	position: absolute;
	top: 30px;
	width: 170px;
	text-align: center;
	color: #b0fff7;
}

#mail-protect {
	color: pink;
}

.back-slight {
	background-color: rgba(0, 0, 0, 0.6);
}

.muted {
	color: #919191;
}

.small-text {
	font-size: 9pt;
}

/* Mobile */

@media(max-width: 750px) {
	.sidebar,
	.content {
		width: 100%;
		float: none;
		padding: 0;
	}

	.page {
		padding-left: 1rem;
		padding-right: 1rem;
	}

	#face {
		width: 6rem;
	}

	.sidebar {
		text-align: center;
	}

	h1.title {
		text-align: center;
	}
}

/* Home Page */

.home-blocks .block {
	margin-bottom: 30px;
}

.home-blocks h3 {
	margin-top: 0;
	margin-bottom: 8px;
}


/* Posts */
h2.date {
	font-size: 16pt;
	text-align: right;
	margin-bottom: 0.2rem;
}

.toc {
	display: inline-block;
	background-color: #ebebeb;
	padding: 12.5px 30px;
	border: 1px solid #808080;
	margin-bottom: 10px;
}
.toc h2 {
	text-align: center;
	margin-bottom: 0.3rem;
}
.toc a {
	text-decoration: none;
}
.toc #TableOfContents > ul {
	margin: 0;
	padding: 0;
}

aside {
	margin-top: 2rem;
}