<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<link rel="shortcut icon" href="/favicon.ico">
		<title>{% if page.title and page.title != "Home" %}{{ page.title }} - {% endif %}Nicholas Tay</title>
		<meta name="viewport" content="width=device-width, initial-scale=0.8, maximum-scale=0.8">

		<link rel="stylesheet" type="text/css" href="/style.css">

		{% if page.layout == 'post' %}
		{% assign description = page.excerpt | strip_html | strip | truncatewords: 50 %}
		<meta name="description" content="{{ description }}...">
		<meta property="og:title" content="{{ page.title }}">
		<meta property="og:description" content="{{ description }}...">
		{% else %}
		<meta name="description" content="Nicholas Tay - {{ site.tagline }}">
		<meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}Nicholas Tay{% endif %}">
		<meta property="og:description" content="Nicholas Tay - {{ site.tagline }}">
		{% endif %}
		<meta property="og:url" content="https://nick.tay.blue{{ page.url }}">
		<meta property="og:image" content="https://nick.tay.blue/assets/profile.jpg">

		<link rel="alternate" type="application/rss+xml" title="Nicholas Tay (RSS)" href="https://nick.tay.blue/rss.xml" />
	</head>
	<body>
		<div class="head-line"></div>
		<div class="content">
			<div class="nav-bar">
				<a href="/" class="no-link">
					<img src="/assets/profile.jpg" id="face" class="smooth" alt="[My face!]">
					<h1 id="myname">Nicholas Tay</h1>
				</a>
				<p id="subtitle" class="subtitle">{{ site.tagline }}</p>

				<!-- For text based browsers. -->
				<div style="display: none;">
					My links:
				</div>
				<ul class="nav-links" style="margin-top: 25px">
					<li>
						<a href="https://github.com/nicholastay">
							<img src="/assets/github.gif" alt="GitHub / nicholastay">
						</a>
					</li>
					<li>
						<a href="https://twitter.com/@nnktay">
							<img src="/assets/twitter.gif" alt="Twitter / nnktay">
						</a>
					</li>
					<li>
						<a id="mail" style="display: none;" onclick="showMail(event)" href="#">
							<span style="position: relative;">
								<img src="/assets/mail.gif" alt="Mail">
								<span id="mail-notice" class="back-slight">business only emails please!: <span id="mail-protect">nick dot tay -@- windblume dot net</span></span>
							</span>
						</a>
					</li>
					<li>
						<a href="/static/key.asc">
							<img src="/assets/key.gif" alt="PGP Key / 515E81D498CC81FB">
						</a>
					</li>
					<li>
						<a href="/rss.xml">
							<img src="/assets/rss.gif" alt="RSS Feed">
						</a>
					</li>
					<li>
						<a href="https://linkedin.com/in/nktay">
							<img src="/assets/linkedin.gif" alt="LinkedIn / nktay">
						</a>
					</li>
					<li>
						<a href="https://www.youtube.com/channel/UC3PCZ5I5prckJHg15hLG5Sg">
							<img src="/assets/youtube.gif" alt="YouTube / Nicholas Tay">
						</a>
					</li>
				</ul>

				{% if page.title != "Home" %}
				<p style="margin-top: 25px">
					<a href="/">&lt; Return home</a>
				</p>
				{% endif %}
			</div>

			<div class="main">
				{% if page.date %}<h2 class="date">{{ page.date | date: "%Y-%m-%d" }}</h2>{% endif %}
				<h1 class="title">{{ page.title }}</h1>

				{{ content }}

				{% if page.layout == 'post' %}
				<div style="margin-top: 15px; float: right;">
					<a href="/rss.xml" class="no-link">
						<img src="/assets/rss.gif" alt="RSS Feed" height="25px" style="opacity: 0.5;">
					</a>
				</div>
				<div id="comments" onclick="loadComments();" style="margin-top: 35px"></div>
				<script>
					if (document.getElementById) {
						var comments = document.getElementById("comments");
						comments.innerText = "Click to load comments (utteranc.es)...";
					}

					function loadComments() {
						comments.onclick = null;
						comments.innerText = "";
						var utt = document.createElement("script");
						utt.src = "https://utteranc.es/client.js";
						utt.async = true;
						utt.crossOrigin = "anonymous";
						utt.setAttribute("repo", "nicholastay/personal-web");
						utt.setAttribute("issue-term", "pathname");
						utt.setAttribute("label", "blog comments");
						utt.setAttribute("theme", "github-light");
						comments.appendChild(utt);
					}
				</script>

				<div class="footer">
					<hr>
					<p class="muted">
						Text content on this site is licensed under <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC-BY-SA-4.0</a> (<a href="https://github.com/nicholastay/personal-web/blob/master/LICENCE.TEXT-CONTENT">text</a>); <a href="https://github.com/nicholastay">code behind it</a> is licensed under the <a href="https://opensource.org/licenses/BSD-2-Clause">BSD-2-Clause</a> (<a href="https://github.com/nicholastay/personal-web/blob/master/LICENCE.CODE">text</a>). All rights reserved to images unless otherwise stated.
					</p>
				</div>
				{% endif %}
			</div>
		</div>

		<script type="text/javascript" src="/assets/mail-protect.js"></script>
	</body>
</html>
