<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<link rel="shortcut icon" href="/favicon.ico">
		<title>{% if page.title %}{{ page.title }} - {% endif %}Nicholas Tay</title>
		<meta name="viewport" content="width=device-width, initial-scale=0.8, maximum-scale=0.8, user-scalable=no">

		<link rel="stylesheet" type="text/css" href="/style.css">
		<style>body { background: #1F1F1F; }</style>

		{% assign description = page.excerpt | strip_html | strip | truncatewords: 50 %}
		<meta name="description" content="{{ description }}">
		<meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}Nicholas Tay{% endif %}">
		<meta property="og:url" content="https://nick.tay.blue{{ post.url }}">
		<meta property="og:description" content="{{ description }}">
		<meta property="og:image" content="https://nick.tay.blue/assets/profile.jpg">

		<link rel="alternate" type="application/rss+xml" title="Nicholas Tay (RSS)" href="https://nick.tay.blue/rss.xml" />
	</head>
	<body>
		<div class="head-line"></div>
		<div class="content post">
			<div>
				<a href="/posts">
					&lt; Posts
				</a>
			</div>
			<div>
				<a href="/">
					&lt;&lt; Return home
				</a>
			</div>

			<h2 class="date">{{ page.date | date: "%Y-%m-%d" }}</h2>
			<h1>{{ page.title }}</h1>

			<div style="margin-top: 25px;">
				{{ content }}
			</div>

			<div style="margin-top: 85px; color: grey;">
				<p>
					Tags: {% for tag in page.tags %}{{ tag }} {% endfor %}
				</p>
			</div>

			<div style="margin-top: 15px; float: right;">
				<a href="/rss.xml" class="no-link">
					<img src="/assets/rss.gif" alt="RSS Feed" height="25px" style="filter: brightness(0.25);">
				</a>
			</div>

			<div id="comments" onclick="loadComments();" style="margin-top: 35px"></div>
		</div>
	
		<script>
			if (document.getElementById) {
				var comments = document.getElementById("comments");
				comments.innerText = "Click to load comments (utteranc.es)...";
			}

			function loadComments() {
				comments.onclick = null;
				comments.innerText = "";
				var utt = document.createElement("script");
				utt.src = "https://utteranc.es/client.js";
				utt.async = true;
				utt.crossOrigin = "anonymous";
				utt.setAttribute("repo", "nicholastay/personal-web");
				utt.setAttribute("issue-term", "pathname");
				utt.setAttribute("label", "blog comments");
				utt.setAttribute("theme", "github-dark");
				comments.appendChild(utt);
			}
		</script>
	</body>
</html>
