body, header, #life-years .year span {
	background: #f5f2f2;
	color: black;
}

a {
	color: black;
}

#life-years .year {
	color: black;
	border-left: 1px dashed rgba(0,0,0,.2);
}

#life .event .time {
	border: 4px solid #ad68ad;
}
#life .event b {
	color: #6b6a6a;
}